@tailwind base;
  @tailwind components;
  @tailwind utilities;


  @layer base {
    :root {
      --background: 173 61% 99%;
      --foreground: 173 59% 3%;
      --muted: 293 5% 87%;
      --muted-foreground: 293 1% 29%;
      --popover: 173 61% 99%;
      --popover-foreground: 173 59% 3%;
      --card: 173 61% 99%;
      --card-foreground: 173 59% 3%;
      --border: 173 3% 94%;
      --input: 173 3% 94%;
      --primary: 173 45% 67%;
      --primary-foreground: 173 45% 7%;
      --secondary: 293 45% 67%;
      --secondary-foreground: 293 45% 7%;
      --accent: 53 45% 67%;
      --accent-foreground: 53 45% 7%;
      --destructive: 17 92% 38%;
      --destructive-foreground: 0 0% 100%;
      --ring: 173 45% 67%;
      --radius: 0.5rem;
    }
  
    .dark {
      --background: 173 35% 1%;
      --foreground: 173 36% 97%;
      --muted: 293 5% 13%;
      --muted-foreground: 293 1% 71%;
      --popover: 173 35% 1%;
      --popover-foreground: 173 36% 97%;
      --card: 173 35% 1%;
      --card-foreground: 173 36% 97%;
      --border: 173 3% 14%;
      --input: 173 3% 14%;
      --primary: 173 45% 67%;
      --primary-foreground: 173 45% 7%;
      --secondary: 293 45% 67%;
      --secondary-foreground: 293 45% 7%;
      --accent: 53 45% 67%;
      --accent-foreground: 53 45% 7%;
      --destructive: 17 92% 47%;
      --destructive-foreground: 0 0% 100%;
      --ring: 173 45% 67%;
    }
  }
  